body {
  background-color: #e4e4e4;
}

.container {
  background-color: #fff;
  max-width: 500px;
  margin-top: 1.5rem;
  padding: 1rem 1rem;
  border-radius: 0.8rem;
  box-shadow: 8px 8px 5px #c0c0c09f;
}

.card-subtitle {
  margin: 1rem 1rem;
}

.card-body {
  margin-left: 1.2rem;
}
